@{
    ViewBag.Title = "addSucces";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}

<div class="row">

    <div class="col-md-offset-2 col-md-10 col-md-offset-2">
        <div class="row">
            <div class="col-md-10">
                <h2> The pet information is added succesfully </h2>                
            </div>
        </div>
    </div>
</div>

