@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
}

<div class="row">

    <div class="col-md-offset-2 col-md-10 col-md-offset-2">
        <div class="row">
            <div class="col-md-10">
                <h2 style="color:darkolivegreen;">Cangratulation!! your Order has been Confirmed</h2>
                <p>
                    If the pet is not delivered to your address within two day. kindly let us know, by sending email at the mail address given below.
            So we will be able to improve our services and Provide you best services in future.
                </p>
            </div>
        </div>
        <p> petZone@gmail.com </p>
    </div>
</div>
