@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
}

<div class="row">

    <div class="col-md-offset-2 col-md-10">
        <h2> Welcome to petzone </h2>
        <p> Hopefully you'll have a wonderfull experience with us, Enjoy our services</p>
        <a class="btn" id="signup" href="#" onclick="location.href='@Url.Content("~")'">Continue</a>                                               
    </div>
</div>


